
<div class="cards-wrapper">
    <div class="rows">
        <div class="first-row">
            <app-card title="Сообщения" description="Уведомить о последних  изменениях и новостях"
            path ="../../../assets/icons/message.svg" url="messages">
            </app-card>
            <app-card title="Расписание" description="Посмотреть и изменить актуальное расписание"
            path="../../../assets/icons/calendar.svg" url="schedule" >
            </app-card>
            <app-card title="Редактор ссылок" description="Изменить на актульные ссылки"
            path="../../../assets/icons/pencil.svg" url="editor"></app-card>
        </div>
        <div class="second-row">
            <app-card title="О нас" path="../../../assets/icons/people_group.svg" url="about-us" description="Информация о нашей комнанде"></app-card>
        </div>
    </div>
</div>