<div class="content-wrapper">
    <div class="title">
        <h1>Наша команда</h1>
    </div>
        <div class="row">
            <div class="develop">
                <div class="develop-fio">
                    <h2 class="fio">Скоморохов Виктор Олегович</h2>
                </div>
                <div class="developer-img">
                    <img src="../../../../assets/img/Titua.jpg" alt="" class ="img">
                </div>
                <div class="about-developer">
                    <p>
                        Front-end разработчик <br> Специалист по созданию пользовательских интерфейсов сайтов, веб-приложений и интернет-сервисов. 
                    </p>
                </div>
            </div>
            <div class="develop">
                <div class="develop-fio">
                    <h2 class="fio">Харатишвили Заза Тариелович</h2>
                </div>
                <div class="developer-img">
                    <img src="../../../../assets/img/Zazik.jpg" alt=""  class ="img">
                </div>
                <div class="about-developer">
                    <p>
                       Разработчик <br> Специалист, занимающийся разработкой программного обеспечения, сайтов и способный реализовать любой проект от стадии замысла до её реализации техническими средствами.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="develop">
                <div class="develop-fio">
                    <h2 class="fio">Рэкорян Семен Валентинович</h2>
                </div>
                <div class="developer-img">
                    <img src="../../../../assets/img/Semen.jpg" alt=""  class ="img">
                </div>
                <div class="about-developer">
                    <p>
                        Разработчик <br> Специалист, занимающийся разработкой программного обеспечения, сайтов и способный реализовать любой проект от стадии замысла до её реализации техническими средствами.
                    </p>
                </div>
            </div>
            <div class="develop">
                <div class="develop-fio">
                    <h2 class="fio">Трибрат Дмитрий Олегович</h2>
                </div>
                <div class="developer-img">
                    <img src="../../../../assets/img/Dermas.jpg" alt=""  class ="img">
                </div>
                <div class="about-developer">
                    <p> Дизайнер <br> UX/UI дизайнер. Создатель логической и визуальной составляющих проекта.</p>
                </div>
            </div>
        </div>
</div>