<div class="tabs">
    <div class="item__tabs">
        <dx-tabs class="item__tab" [height]="'45px'"  [width]="'500px'" [selectedItem]='selectedItem' [items]="menu" (onItemClick)="selectTab($event)">
            <div *dxTemplate='let item of "app-dx-tab-item"'>
                <div class="dx-item" role="tab">
                    <span class="dx-tab-text">{{item.text}}</span>
                </div>
            </div>
            
        </dx-tabs>
        <div class="time-widget">
            {{now | date: "EEEE-LLLL-YYYY hh:mm:ss"}} <br>
            {{currentWeek}}
        </div>
    </div>

    <div class="item__content">
        <router-outlet></router-outlet>
    </div>
</div>
